body {
  background-color: aliceblue;
}

#sorting-hat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  border: 1px solid black;
  width: 200px;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 15px;
  padding: 10px;
}